/* ESTILOS HEADER */
.main__header{
  padding-top: 20px;
}
h1 {
  background: rgba(255, 255, 255, 0.589);
  border-radius: 25px;
  width: auto;
  padding: 10px;
  color:  #000000;
  font-family: fantasy;
  font-size: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 3000;
}
strong{
color: rgb(255, 136, 0);
margin-top: -12px;
font-weight: 900;
}

/* ESTILOS SECTION */

.main__section{
    margin: 80px 0;
    padding: 30px 20px;
    border: 3px solid rgba(255, 255, 0, 0.329);
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background: #004781ab;
    color: black;
    font-family: cursive;
    box-shadow: 0 0 20px 0 yellow;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    z-index: 3000;
  }
  .main__img{
    width: auto;
    height: 300px;
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 10px;
    z-index: 5;
  }
  .main__div{
    width: auto;
  }
  .main__button{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    background-color: green;
    border: 5px solid black;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    transition: 2s;
  }
  .main__button:hover{
    background-color: red;
    box-shadow: 0 0 40px 0 yellow, 0 0 40px 0 red;
    transform: scale(1.1);
    transition: 2s;
  }
  a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-items: center;
  }
h5{
  margin-top: 20px;
}
p{
  margin: 10px;
  color: white;
  font-size: 15px;
}

/* MEDIA QUERY'S RESPONSIVE */

@media (max-width: 992px) {
  .main__section{
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }
  .main__div{
    text-align: center;

  }
  a{
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .main__section{
    width: 300px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

}
